.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.nav a {
  padding: 0 8px;
}

.category {
  background-color: blanchedalmond;
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.category a {
  padding: 10px;
}
